<nav class="bg-white">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between">
      <div class="flex space-x-4">
        <!-- logo -->
        <div>
          <%= link_to readable_texts_path, class: 'flex items-center py-5 px-2 text-scheme2 hover:text-scheme3 font-bold scheme2' do %>
            Rondo Reader
          <% end %>
        </div>

        <!-- primary nav -->
        <div class="hidden md:flex items-center space-x-1">
          <%= link_to 'Novel Reader', readable_texts_path, class: 'py-5 px-3 text-gray-700 hover:text-gray-900' %>
          <%= link_to 'Texthooker', texthooker_index_path, class: 'py-5 px-3 text-gray-700 hover:text-gray-900' %>
          <%= link_to 'Settings', settings_path, class: 'py-5 px-3 text-gray-700 hover:text-gray-900' %>
        </div>
      </div>

      <!-- secondary nav -->
      <!--
      <div class="hidden md:flex items-center space-x-1">
        <a href="" class="py-5 px-3">Login</a>
        <a href="" class="py-2 px-3 bg-yellow-400 hover:bg-yellow-300 text-yellow-900 hover:text-yellow-800 rounded transition duration-300">Signup</a>
      </div>
      -->

      <!-- mobile button goes here -->
      <div class="md:hidden flex items-center">
        <button class="mobile-menu-button">
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>

    </div>
  </div>

  <!-- mobile menu -->
  <div class="mobile-menu hidden md:hidden">
    <%= link_to 'Novels', readable_texts_path, class: 'block text-sm py-5 px-3 text-gray-700 hover:text-gray-900' %>
    <%= link_to 'Texthooker', texthooker_index_path, class: 'block text-sm py-5 px-3 text-gray-700 hover:text-gray-900' %>
    <%= link_to 'Settings', settings_path, class: 'block text-sm py-5 px-3 text-gray-700 hover:text-gray-900' %>
  </div>
</nav>